<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>Поликлиника "Поликлиничка"</title>
    <script type="text/javascript">
        setTimeout(function () { window.print(); }, 500);
        setInterval(function () { location.replace('/'); }, 2000);
    </script>
</head>

<body>
    <b><span style="font-size: 12pt;"><b>Поликлиника "Поликлиничка"</b></span></b><br>
    <b><span style="font-size: 16pt;"><b> Регистратура </b></span></b><br>
    &nbsp;(переулок Колонизаторов 99, г. Илонск, Марс)<br>
    <p>
        <b><span style="font-size: 12pt;"><b> Талон на посещение врача по предварительной записи : </b></span></b><br>
    <p>

    <div>Дата и время: <%= ap_date %>, <%= ap_time %></div>
    <div>Врач:  <strong> <%= doc_fio %> </strong></div>
    <div>Пациент: <strong> <%= pat_fio %> </strong>. Д.р: <%= pat_bday %></div>

    <p>
        <b>1)&nbsp; Предварительно Вы можете позвонить (за день&nbsp; до приема) по тел.</b> ,с целью уточнения информации&nbsp; режима работы врача ( прием может быть отменен по объективным причинам - болезнь врача, выездная проверка). <br>
        <b>2) В день посещения Вам необходимо подойти в учреждение&nbsp; заранее, за 30-40 мин.до приема</b> (для оформления договора медицинских услуг&nbsp; - посещение врача). <br>
        <b>3) Работает система электронной очереди </b>.Вам необходимо взять&nbsp; в терминале талон (посещение врача -----> прием врача по записи-) и ожидать своей очереди. <br>
        <b>4) На прием к врачу при себе иметь следующие документы: </b><br>
        - Направление от лечащего врача ,&nbsp; результаты анализов (при наличии) , выписку из амбулаторной карты (мед.организации , где Вы наблюдаетесь)&nbsp;   <br>
        - Паспорт<sup>1</sup>, полис медицинского страхования <sup>2</sup>,СНИЛС <sup>3</sup> <br>
    </p>
   
</body>
</html>
